<h2> <%= @building.name%> </h2>
<h3> <%= "#{@building.address}, #{@building.country}" %> </h3>
<h3> Number of floors: <%= @building.number_of_floors%> </h3>
<h3> Companies </h3>
<% @building.companies.each do |company| %>
<ul>
<li> <%= company.name %></li>
</ul>
<%end%>
<h3>Total Rent: <%= %></h3>
<button><%= link_to "Update Building Info", edit_building_path %>
</button>